@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Mulish', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.layout-container {
  margin: 0 auto;
  padding-top: 90px;
}
.scrool {
  scrollbar-width: none;
}
.dark {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
}
.darken2 {
  backdrop-filter: blur(4px);
}
